site_name: CRUSAfe
theme:
  name: readthedocs
nav:
  - Home: index.md


markdown_extensions:
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js


plugins:
  - mkdocs-jupyter
