site_name: CRUSADE
theme:
  name: material
  palette:
    primary: teal
  features:
    - navigation.path
    - navigation.indexes
    - content.code.copy
    - content.code.select
    - content.code.annotate
nav:
  - Home: index.md
  - API Reference:
    - api/index.md
    - Conversion methods: api/conversion_methods.md
    - Utils: api/utils.md


markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js


plugins:
  - search
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: google
            show_source: true
            show_root_heading: true
            show_object_full_path: false
            show_category_heading: true
            show_symbol_type_heading: true
            members_order: source
            group_by_category: true
            show_signature_annotations: true
            separate_signature: false

  - mkdocs-jupyter
